* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* start  Any links */
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* END  Any links */

.header {
    background-image: url('images/drew-coffman-1872.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: white;
}

.navbar .logo img {
    width: 160px;
    height: auto;
}

.navbar .links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .links ul li {
    margin: 0 10px;
}

.navbar .links ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.4s ease;
}
.navbar .links ul li a:hover {
    color: #8e7754; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 150px;
    border-radius: 1rem;

}
.dropdown-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .top {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgba(255, 255, 255, .92);
}

.info h1 {
    font-size: 76px;
    font-family: "Alegreya";
    font-weight: 400;
    margin: 10px 0;
}

.info .bottom {
    font-size: 25px;
    margin-top: 10px;
    color: rgba(255, 255, 255, .92);
}

.butt {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.learn_more {
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #8e7754;
    text-align: center;
    font-weight: 700;
    padding: 15px 28px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: ease-in-out
}
.learn_more:hover {
    background-color:  transparent; 
    border: 1px solid white;
}
  
.contact {
    background: transparent;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 700;
    padding: 15px 28px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: ease-in-out
}
.contact:hover {
    background-color: #8e7754;
    color: white;
    border-color: #8e7754;
}
/* the second page */

.bout {
    background-color: #fff;
    padding: 40px 0;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.about-img {
    flex: 1 1 50%;
    max-width: 50%;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional for a modern look */
}

.about-info {
    flex: 1 1 45%;
    font-size: 17px;
}

.about-info h2 {
    margin: 0 0 25px;
    font-size: 25px;
    color: #303030;
    font-family: "Alegreya", serif;
    font-weight: 400;
}

.about-info p {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    line-height: 1.8em;
    color: #686868;
    margin-bottom: 30px;
}

.vip {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.icon-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 45%; 
    transition: all 0.4s ease;
}
.icon-list li:hover {
    transform: scale(1.1); 
}

.icon-list li img {
    width: 40px;
    height: 40px;
    border: #8e7754 solid 1px;
    border-radius: 50%;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.icon-list li p {
    font-size: 17px;
    margin: 0;
    color: #303030;
}

/* Start pag three */
.about-location {
    background-color: #f8f8f8;
    width: 100%;
    padding: 15px 0;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.about-info {
    flex: 1 1 45%;
    font-size: 17px;
}

.about-info h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #303030;
    font-family: "Alegreya", serif;
    font-weight: 400;
}

.about-info p {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    color: #686868;
    margin-bottom: 20px;
}

.about-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    max-width: 90%;
    height: auto;
    border-radius: 8px; /* Optional for modern aesthetics */
}



/* page four */

.container-baking {
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 50px;
    text-align: center;
}

.baking-info h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #303030;
}

.baking-description {
    font-size: 17px;
    line-height: 1.8em;
    color: #888;
    margin-bottom: 40px;
}

.baking-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.baking-item {
    flex: 1 1 30%;
    text-align: center;
}

.baking-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px; /* Optional for a modern look */
    transition: all 0.4s ease;
}
.baking-item img:hover {
    transform: scale(1.1);
}

.baking-item h4 {
    font-size: 22px;
    font-weight: 400;
    color: #303030;
    margin-bottom: 10px;
}

.baking-item p {
    font-size: 17px;
    line-height: 1.8em;
    color: #888;
}




/* page five */

.container-contact {
    width: 100%;
    background-color: #f8f8f8;
    padding: 60px 0;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.contact-info {
    flex: 1 1 45%;
    padding-right: 20px;
}

.contact-info h2 {
    font-size: 32px;
    color: #303030;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 17px;
    line-height: 1.8em;
    color: #686868;
    margin-bottom: 20px;
}

.contact-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-details li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.contact-details img {
    width: 40px;
    height: 40px;
    border: 1px solid #8e7754;
    background-color: #8e7754;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-details p {
    font-size: 17px;
    color: #686868;
    margin: 0;
}

.map {
    flex: 1 1 45%;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 8px; /* Optional for rounded corners */
}

/* start review section  */

.Review {
    background-color: #403D38;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 1rem;
    border-radius: 2rem;
}


.Review:hover {
    background-color: #8E7754;
    transform: scale(1.1);
}

.Form_Review {
    display: none; 
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.Form_Review label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Form_Review input[type="text"],
.Form_Review input[type="number"],
.Form_Review input[type="email"],
.Form_Review textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Form_Review .Send {
    background-color: #403D38;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.4s ease;
}

.Form_Review .Send:hover {
    background-color: #8E7754;
    transform: scale(1.1);
}

/* end review section  */


/* start footer */
.footer {
    background-color: #403d38;
    color: #969696;
    padding: 40px 20px;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.footer h4 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col-4 {
    flex: 1 1 22%;
    margin-bottom: 20px;
}

.footer .footer-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sol-icon{
    margin-right: 12px;
    font-size: 20px;
}


.footer .footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.footer a {
    color: #969696;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
 
.footer a:hover {
    color: #fff; 
}

